# general
RUST_LOG=INFO
API_PORT=4343
API_KEY=some-secret

# tracing
JAEGER_ROOT_URL=http://jaeger-collector:14268 # docker compose setup, remove when runnin api on host

# logging
LOGSTASH_HOST=logstash # docker compose setup, remove when runnin api on host
LOGSTASH_PORT=54321
LOGSTASH_USE_TLS=true

# database
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=deadjokes
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
# DATABASE_URL=postgres://admin:admin@localhost:15432/deadjokes # localhost url
DATABASE_URL=postgres://admin:admin@database:5432/deadjokes # docker compose setup url
RUN_MIGRATIONS_ON_START=1
# DB_LOGGING_ENABLED=1 # uncomment if needed
DB_SKIP_INITIAL_SEED=true # comment if you want to seed the database

# dropbox
# will be ignored if `DB_SKIP_INITIAL_SEED` is set
DBX_OAUTH_TOKEN=some-token
